@import "src/assets/styles/colors";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  padding: 1rem;
}

form {
  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.button {
  margin: 1rem;
}
