@import "src/assets/styles/colors";

.material-icons {
  position: fixed;
  top: 1rem;
  left: 1rem;
  color: $color-primary-olive;
  font-size: 30px;
  cursor: pointer;
  background-color: rgba($color-bg-light, 0.6);
}
