@import "src/assets/styles/colors";

.container {
  color: $color-primary-olive;
}

.text,
.optional-text {
  padding-top: 1rem;
}

.optional-text {
  font-size: 0.8rem;
}

.actions {
  display: flex;
  cursor: pointer;
  user-select: none;
  justify-content: flex-end;

  button {
    background: transparent;
    padding: 1rem;
    font-weight: 600;
    color: $color-primary-olive;
    font-size: 1rem;
    outline: none;
  }

  .close {
    opacity: 0.8;
  }

  .danger {
    color: $color-danger;
  }
}
